@(tokenURL: String)
@main("Title", tokenURL) {
<div class="container">
	<div class="hero-unit">
		<h1>Welcome to Guessr.io</h1>
		<br />
		<button id="signin" class="btn btn-custom">Sign In</button>
	</div>

	<div class="row">

		<div id="userForm" class="span6">
			<form ng-controller="UserController" ng-submit="submit()">
				Name:  <input type="text" ng-model="user.name">
				<br /><br />
				<ul class="unstyled">
					<li ng-repeat="artist in user.artists">
						<input type="checkbox" ng-model="artist.checked" ng-value="{{ artist.name }}"><span class="indent">{{ artist.name }}</span>
					</li>		
				</ul>
				<button class="btn btn-custom" type="submit">Submit</submit>	
			</form>
		</div>

		<!-- <div class="span3" ng-controller="GuessController">
			<h3> {{ returnData.age }}</h3>
			<h3> {{ returnData.gender }}</h3>
		</div> -->

	</div>
</div>
}