@main("Title") {
<div class="container">
	<h1 class="hero-unit">Welcome to Guessr.io</h1>
	
	<div class="row">

		<div class="span6">
			<form method="POST" action="/guess" ng-controller="ArtistController">
				<ul class="unstyled">
					<li ng-repeat="artist in artists">
						<input type="checkbox" value="{{ artist.name }}"><span class="indent">{{ artist.name }}</span>
					</li>		
				</ul>
				<button class="btn btn-custom" type="submit">Submit</submit>	
			</form>
		</div>

		<div class="span3" ng-controller="GuessController">
			<h3> {{ returnData.age }}</h3>
			<h3> {{ returnData.gender }}</h3>
		</div>
	</div>
</div>
}